/* The con2 */
.con2 {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.con2 input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmarkCx {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.con2:hover input ~ .checkmarkCx {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.con2 input:checked ~ .checkmarkCx {
    background-color: #cc9900;
}

/* Create the checkmarkCx/indicator (hidden when not checked) */
.checkmarkCx:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmarkCx when checked */
.con2 input:checked ~ .checkmarkCx:after {
    display: block;
}

/* Style the checkmarkCx/indicator */
.con2 .checkmarkCx:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
